.body1 {

    background-image:url('./src/Gloria.jpg');
    
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 180vh;
    width: 100vw;
    overflow-x: hidden;
    margin-top: -20px;
    
    }
    
    
    .Main {
     
    }
    
    
    #navbar {
    padding-top: 25px;
    margin-top: -8px;
    padding-bottom: 13px;
    position: fixed;
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 30px;
    backdrop-filter: blur(5px);
    transition:  0.2s;
    
    }
    #tl1 {
        transition:0.2s;
        font-size: 19px;
        font-weight: 600;
        color: white;
        border-radius: 40px;
        padding: 8px;
    }
    #lng1 {
        margin-left: 200px;
        display: flex;
        flex-direction: row;
        gap:20px;
        text-size-adjust: 20px;
    }
    
    
    
    #tl1:hover {
        font-size: 19px;
    background-color: black;
        color: white;
    }
    
    .hmln {
        margin-left: -120px;
        margin-right: 300px;
    }
    
    
    #mainContent{
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    
    #bio{
      color: white;
      height: 29vh;
      width: 50vw;
      display: flex;
      padding-right: -450px;
      flex-direction: column;
      font-size: 15.5px;
      margin-left:180px ;
      margin-top: 260px;
      font-size: 16px;
      border-radius: 30px;
    }
    #bio:hover{
      
    }
    
    #qualification{
        margin: 50px;
        height: 5vh;
        width: 20vw;
        color: white;
        border-radius: 20px;
    }
    
    #workExperience{
        margin: 50px;
        height: 30vh;
        width: 20vw;
    
    }
    
    #quotes{
        padding: 30px;
        background-color: white;
        height: 50vh;
        width: 35vw;
        margin-top: 60px;
        margin-left: 20px;
        border-radius: 30px;
        color: black;
    
    }
    
    #bottomSection{
        position: absolute;
        top: 1240px;
        display: flex;
        flex-direction: row;
        height: 40vh;
        width: 100vw;
        color: white;
        background-color: black;
    }
    
    #b1{
        color: white;
        height: 40vh;
        width: 20vw;
        display: flex;
        flex-direction: column;
    }
    
    #b2{
        color: white;
        height: 40vh;
        width: 40vw;
    }
    
    #b3{
      
        height: 40vh;
        width: 40vw;
    }
    
    a {
        transition: 0.4s;
        color: white;
        text-decoration: none;
    }
    
    a:hover {
        color: whitesmoke;
    }
    
    #bioMain {
       
        margin-top: -35px;
        padding-bottom: 5px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 49vw;
        padding-bottom: 10px;
        color: white;
        font-size: 17px;
        border-radius: 10px; 
        padding-right: 30px;
        padding-left: 30px;
        margin-right: 100px;
        
    
    }
    
    #img00 {
      margin-top: -5px;
      border-radius: 50px;
      margin-right: 90px;
      font-size: 100px;
      
    }
    
    #hi {
        top: 150px;
        left: 220px;
        position: absolute;
        font-size: 43px;
    }
    
    #quotesMain {
     
        
    }
    
    #messageMain {
        position: absolute;
        background-color: rgb(23, 23, 54);
        width: 100vw;
        top: 900px;
        margin-left: -180px;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }
    
    #email {
        
        height: 300px;
        width: 400px;
    }
    
    #label {
        font-size: 19px;
        color: white;
    }
    
    #emailButton {
        margin-top: 20px;
        margin-left: 340px;
        width: 70px;
        height: 30px;
    }
    
    #emailButton:hover {
        background-color: black;
        color: white;
    }
    
    
    @media screen and (max-width: 450px) {
        .body1{
           background-image: none;
        }
    
    }
    